@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
}

/* 
Based on MIT-licensed code from shadcn

https://github.com/shadcn-ui/ui/blob/2773f9e2e29cf67e521632d15d1ba302a82e39e9/LICENSE.md
*/

:root {
--radius: 0.75rem;
--background: 255 255 255;
--foreground: 10 10 10;
--card: 255 255 255;
--card-foreground: 10 10 10;
--popover: 255 255 255;
--popover-foreground: 10 10 10;
--primary: 23 23 23;
--primary-foreground: 250 250 250;
--secondary: 245 245 245;
--secondary-foreground: 23 23 23;
--muted: 245 245 245;
--muted-foreground: 115 115 115;
--accent: 245 245 245;
--accent-foreground: 23 23 23;
--destructive: 227 0 17;
--border: 229 229 229;
--input: 229 229 229;
--ring: 161 161 161;
--chart-1: 223 97 0;
--chart-2: 0 149 136;
--chart-3: 16 78 100;
--chart-4: 249 188 0;
--chart-5: 242 159 0;
--sidebar: 250 250 250;
--sidebar-foreground: 10 10 10;
--sidebar-primary: 23 23 23;
--sidebar-primary-foreground: 250 250 250;
--sidebar-accent: 245 245 245;
--sidebar-accent-foreground: 23 23 23;
--sidebar-border: 229 229 229;
--sidebar-ring: 161 161 161;
}

@media (prefers-color-scheme: dark) {
    :root {
    --background: 10 10 10;
    --foreground: 250 250 250;
    --card: 23 23 23;
    --card-foreground: 250 250 250;
    --popover: 10 10 10;
    --popover-foreground: 250 250 250;
    --primary: 229 229 229;
    --primary-foreground: 23 23 23;
    --secondary: 38 38 38;
    --secondary-foreground: 250 250 250;
    --muted: 38 38 38;
    --muted-foreground: 161 161 161;
    --accent: 64 64 64;
    --accent-foreground: 250 250 250;
    --destructive: 191 0 13;
    --border: 255 255 255 / 20%;
    --input: 255 255 255 / 15%;
    --ring: 115 115 115;
    --chart-1: 20 71 230;
    --chart-2: 0 186 129;
    --chart-3: 242 159 0;
    --chart-4: 171 75 255;
    --chart-5: 255 35 87;
    --sidebar: 23 23 23;
    --sidebar-foreground: 250 250 250;
    --sidebar-primary: 20 71 230;
    --sidebar-primary-foreground: 250 250 250;
    --sidebar-accent: 38 38 38;
    --sidebar-accent-foreground: 250 250 250;
    --sidebar-border: 255 255 255 / 10%;
    --sidebar-ring: 82 82 82;
    }
}
